.templatelist {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

  &__item {
    flex-grow: 1;
    width: 100px;
    max-width: 160px;
    //padding: $base-spacing/4;
    font-size: .8em;
    text-align: center;
    cursor: pointer;
    border: 1px solid white;
    //background: white;
    transition: background-color $base-timing $base-duration, border-color $base-timing $base-duration;
    position: relative;
    overflow: hidden;
    color:#333333;
    border: 2px solid $light-gray;
    margin: 0 5px 5px 0;
    div {
      transition: bottom $base-timing $base-duration;
      padding-top:2px;
      position: absolute;
      bottom: -40px;
      left: 0;
      height: 26px;
      width: 100%;
      background: $dark-gray;
      color: $super-light-gray;
    }
    &:hover {
      border: 2px solid $dark-gray;
      div {
        bottom: 0;
      }
    }
  }
}