.vertical-tabs-container {
  @include clearfix;
  margin-bottom: $base-spacing;
  overflow: hidden;
  display: flex;
  .vertical-tabs {
    padding: 0;
    margin: 0;
    display: inline;
    float: left;
    width: 20%;
    list-style: none;
    border-right: 1px solid $base-border-color;
  }

  li {
     &.active {
        background-color: white;
        margin-right: -1px;
        border:1px solid $base-border-color;
        border-right-color: white;
     }

    a {
      padding: $base-spacing/2 $gutter/2;
      text-decoration: none;
      color: inherit;
      display: block;
    }
  }

  .vertical-tab:focus {
    outline: none;
  }

  .vertical-tab-content-container {
    border: 1px solid $base-border-color;
    border-left: none;
    @include inline-block;
    width: 80% ;
    background-color: white;
    margin: 0 auto;

    & a:focus {
      outline: none;
    }

  }

  .vertical-tab-content {
    display: inline-block;
    background-color: white;
    padding: $base-spacing $gutter;
    border: none;
    width: 100%;

  }

  .vertical-tab-accordion-heading {
    border-top: 1px solid $base-border-color;
    cursor: pointer;
    display: block;
    font-weight: bold;
    padding: $base-spacing/2 $gutter/2;

    &:hover {
      color: $base-accent-color;
    }

    &:first-child {
      border-top: none;
    }

    &.active {
      background: white;
      border-bottom: none;
    }
  }
}