
h1 {
  margin: 0;
  padding: 0;
  font-size: $h1-font-size;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: $h2-font-size;
}

h3 {
  margin: 0;
  padding: 0;
  font-size: $h3-font-size;
}

h4 {
  margin: 0;
  padding: 0;
  font-size: $h4-font-size;
}

h5 {
  margin: 0;
  padding: 0;
  font-size: $h5-font-size;
}

h6 {
  margin: 0;
  padding: 0;
  font-size: $h6-font-size;
}