<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Easychart basic template
    link(rel="stylesheet", href="css/easychart.min.css")
  body
    .ec
      header.ec__header
        h1.ec__header__title Easychart
          | 3.2.0
        button.ec__header__togglefs toggle fullscreen

      section.ec__conf
        nav.ec__conf__tabs
          a.ec__tab(href="#") Data
          a.ec__tab(href="#") Templates
          a.ec__tab.ec__tab--active(href="#") Customize
          //  a.ec__tab(href="#") Debug -> TODO move to console?

        .ec__conf__pane
          ul.tabs
            li
              a(href="#") chart settings
            li titles
            li colors and borders
            li value labels
            li legend
            li tooltip
            li exporting
            li credits
            li axes

      section.ec__chart chart

      footer.ec__footer Easychart 3.2.0 - MIT license
