<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Easychart basic template
    link(rel="stylesheet", href="css/easychart.min.css")
  body
    .b-easychart-container

      header.b-ec__header
        h1.e-ec__header__title Easychart

        nav.e-ec__conf__tabs
          a.e-ec__tab(href="#") Data
          a.e-ec__tab(href="#") Templates
          a.e-ec__tab(href="#") Customize
          a.e-ec__tab(href="#") Debugger
          div.e-ec__tab
            button toggle fullscreen

      section.ec__conf
        .b-ec-configuration-panel
          ul.b-ec-tabs
            li.e-ec-tab--active
              a(href="#") chart settings
            li
              a(href="#") titles
            li
              a(href="#") colors and borders
            li
              a(href="#") value labels
            li
              a(href="#") legend
            li
              a(href="#") tooltip
            li
              a(href="#") exporting
            li
              a(href="#") credits
            li
              a(href="#") axes

          div.pane
            header
              h1 Chart type and interaction
            main
              label type
                input

            header
              h1 Size and margins
            main
              label width

      section.ec__chart chart

      footer.ec__footer Easychart 3.2.0 - MIT license
