.b-ec__header {
    @apply --teal-on-navy;
    .e-ec__header__title {
        padding: 5px 20px;
        margin: 0;
        font-size: 2em;
        text-transform: uppercase;
        text-align: center;
    }
    .e-ec__conf__tabs {
        .e-ec__tab {
            display: block;
            text-align: center;
            text-transform: uppercase;
            padding: 0 20px;
            color: inherit;
            text-decoration: none;
            &:last-child {
                display: none;
            }
        }
    }
}

@media (--medium-and-up-screen) {
    .b-ec__header {
        display: flex;
        align-items: baseline;
        flex-direction: row;
        flex-wrap: wrap;
        .e-ec__header__title {
            flex-basis: content;
            text-align: left;
        }
        .e-ec__conf__tabs {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            flex: 1;
            .e-ec__tab {
                flex-basis: content;
                &:last-child {
                    flex: auto;
                    text-align: right;
                    display: block;
                }
            }
        }
    }
}
