/* http://codepen.io/jstn/pen/zuDst */

.line {
    text-decoration: none;
    padding: 10px;
    position: relative;
}

.line:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: inline-block;
    height: 2px;
    left: 15%;
    position: absolute;
    background: $teal;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 70%;
    color: inherit;
}

.line:hover:after {
    width: 100%;
    left: 0%;
}

/* http://codepen.io/mattgrosswork/pen/rqosb */
