/* imports */
@import 'https://fonts.googleapis.com/css?family=Raleway:200|Roboto';
@import './partials/variables';
@import './partials/media-queries';
@import './partials/custom-properties';
@import './partials/header';
@import './partials/conf-pane';
@import './partials/specialleke';

/* temp; what TODO with this? */
body, h1, h2, h3, h4, h5, h6 {
    font-size: 10pt;
    line-height: 1.6;
}

.b-easychart-container {
    font-family: 'Raleway', sans-serif;
    font-size: 10pt;
    background: #ccc;
}

@media (--medium-and-up-screen) {
    .b-easychart-container {
        display: flex;
        flex-flow: row wrap;
        >* {
            flex: 1 100%;
        }
        .ec__conf {
            flex: 1 auto;
        }
        .ec__chart {
            flex: 2 auto;
        }
    }
}
