@import "bourbon";
@import "neat";
@import "base/variables";
@import "base/tables";
@import "components/vertical-tabs";
a, .hover{
  cursor: pointer;
}
.active {
  font-weight: bold;
}
.container{

}

.left{
  @include span-columns(6);
}
.right{
  @include span-columns(6);
  @include omega();
}
.templatelist{
  &__item{
    @include span-columns(2);
    @include omega(6n);
  }
}


.file_drop{
  padding: 50px;
  background: $light-gray;
}