/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 */
/* General */
/* line 10, ../sass/screen.scss */
.ec-container * {
  box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
}

/* line 16, ../sass/screen.scss */
.ec-container {
  font-size: 12px !important;
  font-family: 'Open Sans', sans-serif !important;
  color: #333 !important;
  margin: 0 !important;
  padding: 0 !important;
  position: relative !important;
  min-height: 100% !important;
  top: 0 !important;
  bottom: 0 !important;
  min-width: 1000px !important;
  /* Logo */
  /* Left column: configuration */
  /* Right column: chart and data input */
  /* Data input types */
  /* Data input area */
  /* Other */
}
/* line 29, ../sass/screen.scss */
.ec-container .ec-logo {
  background-color: #333;
  padding: 7px 1em;
  margin-bottom: 5px;
  height: 64px;
}
/* line 35, ../sass/screen.scss */
.ec-container .ec-logo span {
  display: block;
  min-width: 153px;
  max-width: 200px;
  background: transparent url(../images/logo.svg) no-repeat top left;
  height: 50px;
  text-indent: -1000px;
  overflow: hidden;
}
/* line 47, ../sass/screen.scss */
.ec-container .ec-leftCol {
  float: left;
  width: 50%;
  min-width: 500px;
}
/* line 53, ../sass/screen.scss */
.ec-container .ec-configTabs {
  width: 30%;
  padding-top: 0px;
  padding-right: 1%;
  padding-left: 0;
  list-style-position: inside;
  list-style: none;
  border-right: 1px solid #cccccc;
  float: left;
  margin: 0;
}
/* line 64, ../sass/screen.scss */
.ec-container .ec-configTabs li {
  border-bottom: 1px solid #cccccc;
}
/* line 67, ../sass/screen.scss */
.ec-container .ec-configTabs li:last-child {
  border-bottom: none;
}
/* line 71, ../sass/screen.scss */
.ec-container .ec-configTabs li a {
  display: block !important;
  padding: 1em !important;
  text-decoration: none !important;
  color: inherit !important;
  font-size: 14px !important;
  font-weight: 300 !important;
}
/* line 79, ../sass/screen.scss */
.ec-container .ec-configTabs li a:hover {
  background: #ffff00 !important;
}
/* line 83, ../sass/screen.scss */
.ec-container .ec-configTabs li a.active {
  font-weight: bold !important;
}
/* line 89, ../sass/screen.scss */
.ec-container .ec-configPanels {
  width: 67%;
  float: right;
}
/* line 93, ../sass/screen.scss */
.ec-container .ec-configPanels .ec-panel {
  display: none;
}
/* line 96, ../sass/screen.scss */
.ec-container .ec-configPanels .ec-panel:first-child {
  display: inherit;
}
/* line 100, ../sass/screen.scss */
.ec-container .ec-configPanels .ec-panel label {
  width: 120px !important;
  text-align: right !important;
  display: inline-block !important;
  padding-right: 10px !important;
  vertical-align: middle !important;
  font-weight: normal !important;
}
/* line 108, ../sass/screen.scss */
.ec-container .ec-configPanels .ec-panel label:first-letter {
  text-transform: uppercase;
}
/* line 113, ../sass/screen.scss */
.ec-container .ec-configPanels .ec-panel .ec-pane {
  border: none !important;
  margin: 0 !important;
  padding: 5px 5px 10px !important;
}
/* line 118, ../sass/screen.scss */
.ec-container .ec-configPanels .ec-panel .ec-pane legend {
  font-size: 1.4em !important;
  font-weight: 300 !important;
  display: block !important;
  padding: 1em 0 1.2em 0 !important;
  text-transform: capitalize !important;
}
/* line 130, ../sass/screen.scss */
.ec-container .ec-rightCol {
  float: right;
  width: 50%;
  min-width: 500px;
  background-color: #ddd;
}
/* line 136, ../sass/screen.scss */
.ec-container .ec-rightCol .ec-chart {
  height: 400px;
  padding: 0 0 0 1px;
}
/* line 140, ../sass/screen.scss */
.ec-container .ec-rightCol .ec-dataInput, .ec-dataOutput {
  border: 0 none;
  margin: 10px 5px;
  padding: 5px;
}
/* line 146, ../sass/screen.scss */
.ec-container .ec-rightCol .ec-dataInput #ec-data-table table {
  border-collapse: collapse;
  width: 100%;
}
/* line 151, ../sass/screen.scss */
.ec-container .ec-rightCol .ec-dataInput #ec-data-table table tbody tr td {
  border: 1px solid #ccc;
  border-collapse: collapse;
  background: #efefef;
  padding: 5px 10px;
  width: 100px;
}
/* line 158, ../sass/screen.scss */
.ec-container .ec-rightCol .ec-dataInput #ec-data-table table tbody tr td input {
  border: none;
  background-color: transparent;
  outline: none;
}
/* line 162, ../sass/screen.scss */
.ec-container .ec-rightCol .ec-dataInput #ec-data-table table tbody tr td.active-cell {
  background: white;
}
/* line 174, ../sass/screen.scss */
.ec-container ul.data-input-types {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 178, ../sass/screen.scss */
.ec-container ul.data-input-types li {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  background-color: #f5f5f5;
  padding: 8px 10px;
  margin-right: 1px;
  cursor: pointer;
}
/* line 186, ../sass/screen.scss */
.ec-container ul.data-input-types li.active {
  background-color: #fff;
}
/* line 191, ../sass/screen.scss */
.ec-container .data-input {
  background-color: #fff;
  padding: 10px;
}
/* line 194, ../sass/screen.scss */
.ec-container .data-input > div {
  display: none;
}
/* line 197, ../sass/screen.scss */
.ec-container .data-input > div.active {
  display: block;
}
/* line 200, ../sass/screen.scss */
.ec-container .data-input .disabled {
  display: none;
}
/* line 203, ../sass/screen.scss */
.ec-container .data-input > .disabled .disabled {
  display: block;
}
/* line 206, ../sass/screen.scss */
.ec-container .data-input > .disabled .enabled {
  display: none;
}
/* line 213, ../sass/screen.scss */
.ec-container .ec-dataInput legend {
  font-size: 1.4em !important;
  font-weight: 300 !important;
  display: block !important;
  padding: 0.5em 0 !important;
}
/* line 220, ../sass/screen.scss */
.ec-container .ec-dataInput .form-item textarea,
.ec-container .ec-dataInput .form-item input {
  width: 100%;
}
/* line 224, ../sass/screen.scss */
.ec-container .ec-dataInput .form-item input[type=checkbox] {
  width: auto;
}
/* line 227, ../sass/screen.scss */
.ec-container .ec-dataInput .form-item textarea {
  height: 120px;
}
/* line 230, ../sass/screen.scss */
.ec-container .ec-dataInput .form-item button {
  margin: 0 10px 0 0;
}
/* line 234, ../sass/screen.scss */
.ec-container .ec-dataInput a.button {
  margin-bottom: 0 !important;
}
/* line 240, ../sass/screen.scss */
.ec-container .hidden {
  display: none;
}
/* line 245, ../sass/screen.scss */
.ec-container .form-item {
  margin: 0 0 5px 0 !important;
  padding: 0 !important;
}
/* line 249, ../sass/screen.scss */
.ec-container .form-item input, .ec-container .form-item textarea, .ec-container .form-item select {
  border: 1px solid #ddd;
  border-radius: 1px;
  padding: 6px;
  width: 170px;
  vertical-align: middle;
}
/* line 256, ../sass/screen.scss */
.ec-container .form-item input[type="checkbox"] {
  width: auto;
  padding-right: 5px;
  display: inline-block;
}
/* line 261, ../sass/screen.scss */
.ec-container .form-item .checkbox {
  display: inline-block;
  line-height: 28px;
}
/* line 266, ../sass/screen.scss */
.ec-container button {
  padding: 10px !important;
  display: inline-block !important;
  *zoom: 1 !important;
  *display: inline !important;
  background: #ffff00 none !important;
  border: 0 none !important;
  cursor: pointer !important;
  margin-bottom: 1em !important;
  margin-right: 1px !important;
  border-radius: 1px !important;
}
/* line 278, ../sass/screen.scss */
.ec-container button:hover {
  background-color: #fbfb4d !important;
}
/* line 281, ../sass/screen.scss */
.ec-container button:disabled {
  background-color: #cccccc !important;
}
/* line 285, ../sass/screen.scss */
.ec-container .description {
  text-indent: -10000px !important;
  width: 19px !important;
  height: 24px !important;
  overflow: hidden !important;
  cursor: pointer !important;
  background: transparent url(../images/icon-info.svg) no-repeat center center/15px 15px !important;
  display: inline-block !important;
  margin: 0 0 0 5px !important;
  vertical-align: top !important;
}
/* line 295, ../sass/screen.scss */
.ec-container .description * {
  display: none;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 503, ../sass/screen.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 509, ../sass/screen.scss */
.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 518, ../sass/screen.scss */
.clearfix {
  *zoom: 1;
}



textarea.ec-hcOptionsOutput{margin-top:5px;}